{$DOMINIO} {
	encode zstd gzip
	reverse_proxy painel:3000
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "same-origin"
	}
	log {
		output file /data/acesso.log
	}
}
